.hidden {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}
k {
    text-align: left;
}
p {
    line-height: 1.6;
}

button, .button {
    display: block;
    width: 20%;
    padding: 10px;
    margin: 20px 0;
    position: inherit;
    background-color: #ff9100;
    color: #070000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

button:hover, .button:hover {
    background-color: #ff9100;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #ff9100;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
